@import './grid-system.css';

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 24, 24);
}

img {
  width: 100%;
}

button {
  border-radius: 20px;
  border: none;
  padding: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  outline: none;
  background-color: transparent;
}

.main_container {
  font-family: 'Roboto', sans-serif;
  color: #aaaaaa;
}

.header {
  display: flex;
  align-items: center;
  background-color: #282828;
  padding: 10px 0;
  height: 60px;
}

.header i {
  font-size: 20px;
  color: #aaaaaa;
}

.search {
  margin-left: 10px;
}

.search_input {
  border-radius: 15px;
  border: none;
  background: white;
  color: #181818;
  padding-left: 30px;
  outline: none;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/ios-search.svg);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 5px;
}

.user {
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.user__info {
  display: flex;
}

.user__info__img {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
}

.user__info__name  {
  display: flex;
  align-items: center;
}

.page-flows_flow {
  font-size: 20px;
  color: #aaaaaa;
  margin: 0 10px;
}

.main_content {
  display: flex;
  height: calc(100vh - 120px);
}

.left_aside {
  flex: 1;
  background-color: blue;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.content-title {
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.artist_view {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/g-eazy.png);
  background-size: cover;
  flex: 0 0 320px;
}

.song_list {
  flex: 2;
}

.right_aside {
  flex: 1;
  background-color: yellow;
}

.footer {
  height: 60px;
  background-color: gold;
}

/* TABS */
.tabs__header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 0 2px;
}

.tabs__header ul {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.tabs__header li {
  margin: 0 15px;
  padding-bottom: 15px;
}

.tabs__header .active {
  color: #fff;
  border-bottom: 4px solid #1ed760;
}

.tabs__header a {
  color: inherit;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.tabs__header a:hover,
.tabs__header a:active {
  color: #fff;
}

.tabs__content {
  padding: 15px;
}

/* LATEST RELEASE */
.latest-release {
  display: flex;
  font-size: 14px;
}

.latest-release__image {
  flex: 0 0 75px;
}

.latest-release__song {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
  background-color: #282828;
  padding: 10px 15px;
}

/* RELATED ARTISTS */
.related-artists {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}

.related-artist {
  flex: 0 1 84px;
  display: flex;
  padding: 5px;
}

.related-artist__image {
  flex: 0 0 42px;
}

.related-artist__image img {
  border-radius: 50%;
}

.related-artist__name {
  display: none;
}

@media only screen and (min-width: 480px) {
  .related-artist {
    flex: 0 0 calc(100% / 2 - 10px);
    align-items: center;
    background-color: #282828;
    padding: 5px;
    margin: 5px;
  }

  .related-artist__image {
    margin-right: 10px;
  }

  .related-artist__name {
    display: block;
    flex: 1 1 auto;
  }
}

@media only screen and (min-width: 768px) {
  .related-artist {
    flex: 0 0 calc(100% / 3 - 10px);
  }
}

@media only screen and (min-width: 1020px) {
  .related-artist {
    flex: 1 0 100%;
    margin-bottom: 2px;
  }
}